<h1 id="tableLabel">Edit Student</h1>

<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Course's name</mat-label>
        <input matInput [(ngModel)]="course.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Credits</mat-label>
        <input matInput [(ngModel)]="course.credits" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Teacher</mat-label>
        <input matInput [(ngModel)]="course.teacher" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Classroom</mat-label>
        <input matInput [(ngModel)]="course.classroom" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Enrolled</mat-label>
        <input matInput [(ngModel)]="course.enrolled" />
      </mat-form-field>
    </td>
  </tr>
</table>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="editCourse()">Edit Course</button>
</div>
